/**
 * aThemes - Container Block (editor)
 * Styles for back and front end
 *
 */
 .athemes-blocks-block-container-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    .athemes-blocks-background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .athemes-blocks-block-container-wrapper-content {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        z-index: 1;
        > p:last-child,
        > ul:last-child {
            margin-bottom: 0;
        }
    }
    &.athemes-blocks-block-container-bg-effect-parallax {
        .athemes-blocks-background-image {
            top: -100px;
            height: calc( 100% + 260px);
        }
    }
}
